.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
   "one one"
   "two three"
   "two four"
   "five five";
  gap: 1rem;
  width: 980px;
  margin: 0 auto;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: five;
}
.four {
  grid-area: three;
}
.five {
  grid-area: four;
}

/* extremely basic formatting */
body {
  background-color: black;
}
img {
  max-width: 100%;
}
