/* extremely basic formatting */
body {
  background-color: black;
}
img {
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "one one"
    "two three"
    "two four"
    "five five";
  gap: 1rem;
  max-width: 980px;
  margin: 0 auto;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: five;
}
.four {
  grid-area: three;
}
.five {
  grid-area: four;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }

  .one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }
  .five {
    grid-area: five;
  }
}
