/* extremely basic formatting */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1150px;
}
img {
  max-width: 100%;
  border-radius: 5px;
}
.button {
  background-color: #2d697c;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}
.button:hover {
  background-color: #327c94;
}

.card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "one two"
    "three two";
  grid-template-rows: auto;
  border-bottom: 1px solid #ccc;
  padding: 0 1rem;
  align-items: center;
}

.card img {
  grid-area: two;
}

.feature {
  display: block;
}

.feature p:not(:has(a)) {
  display: none;
}

@media (min-width: 500px) {
  .grid-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "one one" "one one";
  }
  .feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "one" "two" "three";
    grid-area: one;
    align-items: center;
  }

  .feature p:not(:has(a)) {
    display: grid;
    font-size: 1rem;
  }

  .card p:last-child {
    margin-top: 1.5rem;
  }
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "one" "two" "three";
    border: 1px solid #ccc;
    margin: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
  }
}

@media (min-width: 700px) {
  .grid-main-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "one one one" "one one one" "one one one";
  }

  .feature {
    grid-area: one;
  }
}

@media (min-width: 900px) {
  .grid-main-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "one one two" "one one three" "one one foure";
  }

  .card {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "one two"
      "three two";
    grid-template-rows: auto;
    border-bottom: 1px solid #ccc;
    padding: 0 1rem;
    align-items: center;
    font-size: 1rem;
  }

  .card img {
    grid-area: two;
  }

  .feature {
    grid-area: one;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "one" "two" "three";
    grid-area: one;
    align-items: center;
  }
}
